table {
    font-size: 20px;
}

.floor {
    width: 600px;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    border: 1px solid;
}

.roomOption {
    margin: 10px 10px 10px 10px;
}

.star {
    color: red;
}

span {
    margin-right: 10px;
    width: 150px;
}

.valveCatalog {
    color: red
}

.text {
    height: 24px;
    width: 300px;
    padding: 2px 2px 2px 2px;
    font-size: 18px;
}

.addRoom {
    margin-top: 20px;
}

.roomDiv {
    display: none;
}


body{
    font-family: "Trebuchet MS", sans-serif;
    margin: 50px;
}
